/* Selector {
	property; value
}
/*h2,p {
	color: #AA4139;
	text-align: center;
	/*border: 5px solid rgba(255, 176, 0, 0.5);
	border: 5px solid purple;
	cursor: pointer;
}
p {
	text-decoration: underline;
	text-decoration: line-through;
}
p {
	text-transform: uppercase;
}
https://fonts.google.com/

p {
	line-height: 20 px;
	font-style: italic;
	font-weight: bold;
	font-size: 200%;
	font-family: 'Poiret One', cursive;
}
  

* {
	text-align: right;
}
body 
{
	background-image: url(backgroundimage.jpg);
	background-size: cover;
}
h2 {
	color: red;
}*/
img {
	float: left;
}
p {
	color: #AA4139;
	text-align: center;
	/*border: 5px solid rgba(255, 176, 0, 0.5);*/
	border: 5px solid purple;
	cursor: pointer;
}
p {
	color: pink !important;
}
p {
	color: green;
}
li {
	list-style: none;
	display: inline-block;
}
.webtext:first-child {
    border: 5px dashed green;
}
.active {
	color: red;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}
#div2 {
	background: rgba(255, 0, 0, 0.2);
}
footer {
	clear: both;
	text-align: center;
}








































